html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255);
    padding-top: 50px;
    overflow-x: hidden;
}

hr {
    height: 4px;
    width: 75%;
    background: rgb(39,39,39);
}

.light {
    font-weight: 500;
}

/* Barre de Navigation */
.navbar-custom {
    /*margin-bottom: 0;*/
    border-bottom: 1px solid rgba(0,0,0,.3);
    background-color: rgb(255,255,255);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.navbar-custom-img {
    height: 100%;
    width: auto;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-custom button,
.navbar-custom button:focus{
    color: rgb(39,39,39);
    border: 1px solid;
    border-color: rgb(39,39,39);
}

.navbar-custom button:active,
.navbar-custom button:hover{
    color: rgb(255,255,255);
    border: 1px solid;
    border-color: rgb(39,39,39);
    background: rgb(39,39,39); 
}


.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: rgb(39,39,39);
}

.navbar-custom a {
    color: rgb(39,39,39);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    color: rgb(255,255,255);
    background-color: rgb(90,164,123);
}

.navbar-custom .nav li a:focus {
    background-color: rgb(90,164,123);
}

.navbar-custom .nav li.active {
}

.navbar-custom .nav li.active a {
    background-color: rgba(39,39,39,.3);
    color: rgb(39,39,39);
}

.navbar-custom .nav li.active a:hover {
    color: rgb(39,39,39);
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(0,0,0,.3);
        background: rgb(255,255,255);
    }
}

/* Cover */
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.cover {
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgb(39,39,39);
}

.cover h1 {

    font-weight: 700;
    text-transform: uppercase;
}

.cover strong {
    font: bold;
    color: rgb(90,164,123);
}

@media (min-width: 768px) {
    .cover h1 {
        font-size: 70px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
/* Button Scroll */
.btn-scroll,
.btn-scroll:focus{
    width: 80px;
    height: 50px;
    margin-top: 12px;
    border: 2px solid rgb(39,39,39);
    text-align: center;
    font-size: 26px;
    color: rgb(39,39,39);
}

@media (min-width: 768px) {
    .btn-scroll,
    .btn-scroll:focus{
        width: 100px;
        height: 70px;
        margin-top: 15px;
        border: 2px solid rgb(39,39,39);
        text-align: center;
        font-size: 40px;
        color: rgb(39,39,39);
    }
}

@media (max-width: 370px) {
    .col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, 
    .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
    }

    .col-xxs-12 {
        width: 100%;
    }
    .col-xxs-11 {
        width: 91.66666667%;
    }
    .col-xxs-10 {
        width: 83.33333333%;
    }
    .col-xxs-9 {
        width: 75%;
    }
    .col-xxs-8 {
        width: 66.66666667%;
    }
    .col-xxs-7 {
        width: 58.33333333%;
    }
    .col-xxs-6 {
        width: 50%;
    }
    .col-xxs-5 {
        width: 41.66666667%;
    }
    .col-xxs-4 {
        width: 33.33333333%;
    }
    .col-xxs-3 {
        width: 25%;
    }
    .col-xxs-2 {
        width: 16.66666667%;
    }
    .col-xxs-1 {
        width: 8.33333333%;
    }
}

.btn-scroll:active,
.btn-scroll:hover{
    background: rgba(255,255,255,.3);
}

.full-hw {
    display: table;
    height: 100%;
    width: 100%;
}

.full-hw-inner {
    display: table-cell;
    vertical-align: middle;
}

.full-hw-inner-top {
    display: table-cell;
    vertical-align: top;
}

.center-container {
    margin-left: auto;
    margin-right: auto;
}

.middle {
    vertical-align: middle;
    text-align: center;
    color: rgb(39,39,39);
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.middle h1 {
    font-size: 36px;
    text-transform: uppercase;
    padding-bottom: 30;
}

.middle h2 {
    font-size: 25px;
    padding-bottom: 15;
}

.middle p {
    font-size: 14px;
}

.middle hr {
    height: 2px;
    width: 10%;
    background: rgb(0,0,0);
}

.middle .btn {
    border: 2px solid rgb(90,164,123);
    border-radius: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: rgb(90,164,123);

}

.middle .btn:focus,
.middle .btn:hover{
    text-decoration: none;
    color: rgb(255,255,255);
    background: rgb(90,164,123);
}


.padding-text {
    padding: 30px;
}
@media (max-width: 768px){
    .padding-xs {
        padding-bottom: 30px;
    }
}
.row-full-height {
    height: 100%;
}
.col-full-height {
    height: 100%;
    vertical-align: middle;
}

.row-same-height {
    display: table;
    /* fix overflow */
    table-layout: fixed;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
        vertical-align: middle;
    }
}
@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
        vertical-align: middle;
    }
}

@media (min-width: 1200px) {
    .col-lg-height {
        display: table-cell;
        float: none !important;
        vertical-align: middle;
    }
}

.container-title {
    color: rgb(39,39,39);
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.container-title h1 {
    text-transform: uppercase;
    font-size: 42px;
}

.container-title p {
    font-size: 25px;
}

.carousel-caption-custom {
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(39,39,39);
    font-size: 16px;
}

.carousel-caption-custom h1 {
    font-size: 20px;
    text-transform: uppercase;
}

.carousel-caption-custom hr {
    height: 1px;
    width: 8%;
    background: rgb(39,39,39);
}

.carousel-caption-custom .btn {
    font-size: 18px;
}


@media (min-width: 768px) {
    .carousel-caption-custom {
        background-color: rgba(0,0,0,0.5);
        color: rgb(2555,255,255);
        font-family: 'Open Sans', sans-serif;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
        font-size: 18px;
    }

    .carousel-caption-custom h1 {
        font-size: 30px;
        text-transform: uppercase;
    }

    .carousel-caption-custom hr {
        height: 2px;
        width: 10%;
        background: rgb(255,255,255);
    }
}

.carousel-control-custom,
.carousel-control-custom:focus{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: 40px;
    color: rgb(255,255,255);
    text-align: center;
}

.carousel-control-custom.left {

}
.carousel-control-custom.right {
    right: 0;
    left: auto;
}
.carousel-control-custom:hover {
    color: rgb(100,100,100);
    text-decoration: none;
}
.carousel-control-custom .icon-prev,
.carousel-control-custom .icon-next,
.carousel-control-custom .glyphicon-menu-left,
.carousel-control-custom .glyphicon-menu-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control-custom .icon-prev,
.carousel-control-custom .glyphicon-menu-left {
    left: 50%;
    margin-left: -10px;
}
.carousel-control-custom .icon-next,
.carousel-control-custom .glyphicon-menu-right {
    right: 50%;
    margin-right: -10px;
}
.carousel-control-custom .icon-prev,
.carousel-control-custom .icon-next {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    font-family: serif;
    line-height: 1;
}

.footer-container {
    display: table;
    width: 100%;
    background-color: rgb(39,39,39);
    color: rgb(100,100,100);
    font-family: 'Open Sans', sans-serif;

}

.footer-container-inner {
    display: table-cell;
    vertical-align: bottom;
    color: rgb(100,100,100);
}

.footer-container h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-container h2 {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.footer-container hr {
    height: 1px;
    width: 90%;
    background: rgb(100,100,100);
    color: rgb(100,100,100);
}

.footer-container a {
    color: rgb(175,175,175);
}

.footer-container a:hover,
.footer-container a:focus {
    color: rgb(90,164,123);
    text-decoration: none;
}

.footer-container-case {
    display: table;
    /*width: 100%;*/
    margin-left: auto;
    margin-right: auto;
}

.footer-container ul {
    display: table-cell;
}