/*******************************************************************************
http://dindiewestwood.github.io/
@author Dimitri Drouet
@version 1.0
*******************************************************************************/
html {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    background-attachment: fixed;
    background-color: #3A3A3A;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center,rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    -ms-background-size: 20px 20px;
    background-size: 20px 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: inherit;
    width: inherit;
}

h1 {
    font-weight: 300;
    font-size: 32px;
}

h2 {
    font-weight: 300;
    font-size: 24px;
}

h3 {
    padding-left: 20px;
    font-weight: 300;
    font-size: 18px;
}

p {
    font-weight: 300;
    font-size: 14px;
}

.navbar-custom {
    background-attachment: fixed;
    background-color: #3A3A3A;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center,rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    background-size: 20px 20px;
}

.navbar-custom img {
    width: 37px;
    height: auto;
}

.navbar-custom a {
    color: white;
}

.navbar-custom a:hover,
.navbar-custom a:focus {
    text-decoration: none;
}

.navbar-padding {
    padding-top: 70px;
}

.sticky-container {
    visibility: hidden;
    position: fixed;
    bottom: 0px;
    max-height: 100%;
    max-width: 41.67%; 
}

.profile-picture {
    bottom: 0px;
}

.container-custom {
    display: table;
    min-height: 100%;
    width: 100%;
}

.container-inner-custom {
    display: table-cell;
    vertical-align: middle;
}

.title {
    padding-bottom: 16px;
}

.title h1 {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 100;
}

.title h2 {
    color: rgba(255, 255, 255, .67);
    text-align: center;
    font-weight: 100;
}

.title img {
    width: 40px;
    height: auto;
}

.quick-access a {
    text-decoration: none;
    color: rgba(255, 255, 255, .75);
    opacity: .75;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform:scale(1.1);
    transform: scale(1);
}

.quick-access a:hover,
.quick-access a:focus {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform:scale(1.1);
    transform: scale(1.1);
}

.overlay {
    padding: 12%;
}

.card {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform:scale(1.1);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
    
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.thumbnail:hover,
.thumbnail:focus {
    background-color: rgba(255, 255, 255, .2);
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform:scale(1.1);
    border-radius: 15px;
    text-align: center;
}

.btn-card {
    background-color: rgba(255, 255, 255, .67);
    border-radius: 100px;
    padding: 5px 20px 5px 20px;
    text-align: center;
    color: black;
    
}

.btn-card:hover,
.btn-card:focus {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    text-decoration: none;
}

.card-block {
    padding: 20px 15px;
}

.thumbnail h1 {
    font-size: 18px;
    font-weight: 500;
}


.btn {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.btn:hover,
.btn:focus{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.btn-dark {
	background-color: rgba(0, 0, 0, 0.3);
	border: none;
	color: black;
}

.btn-dark:hover,
.btn-dark:focus{
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
}

.modal-overlay {
	width: 90%;
	max-width: 90%;
	-ms-max-width: 90%;
	-webkit-max-width: 90%;
	-moz-max-width: 90%;
	margin: 5% auto auto auto;
	pointer-events: none;
}

.modal-header,
.modal-footer {
	border: none;
}

.modal-body {
	padding-left: 5%;
	padding-right: 5%;
}

.modal-body img,
.gallery img {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
	margin-bottom: 10px;
}

.modal-body ul,
.gallery ul {
	list-style: none;
	display: block;
	padding: 0;
	margin-bottom: 10px;
	
}

.modal-body li,
.gallery li {
	margin:5px;
	display: inline-block;
}

.gallery {
	height: 0%;
    width: 100%;
	max-width = 100%;
    max-height = 100%;
    position: fixed;
    z-index: 9999999999;
    top: 0;
	bottom: 0;
    left: 0;
	right:0;
    background-color: #FFFFFF;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center,rgbargba(0, 0, 0, .2), rgbargba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgbargba(0, 0, 0, .2), rgbargba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    -ms-background-size: 20px 20px;
    background-size: 20px 20px;
    color: black;
	overflow-y: hidden;
    transition: 0.4s;
}

.gallery-header{
	position: absolute;
    top: 2%;
	right: 3%;
	left: 3%;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

.gallery-footer{
	position: absolute;
    bottom: 2%;
	right: 3%px;
	left: 3%px;
	text-align: center;
}

.gallery-content {
	position: absolute;
    bottom: 5%;
	right: 3%;
	left: 3%;
	top: 5%;
	text-align: center;
}

.gallery-close-btn{
	
    font-size: 60px;
	cursor: pointer;
}

.gallery-img {
	max-height: 100%;
	max-width: 100%;
	height: auto;
	margin-right:auto;
	margin-left:auto;
}

.thumb {
	width: 24px;
	height: auto;
	cursor: pointer;
}

.active img{
	border: 3px solid #57dccb;
}

.thumbnail-container {
    padding: 5%;
}

.thumbnail-container img {
    opacity: .5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
    border-radius: 15px;
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
	cursor: pointer;
}

.thumbnail-container img:hover,
.thumbnail-container img:focus
{
    opacity: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
    border-radius: 15px;
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
}

.modal-content{
	background-attachment: fixed;
    background-color: #FFFFFF;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center,rgbargba(0, 0, 0, .2), rgbargba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgbargba(0, 0, 0, .2), rgbargba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    -ms-background-size: 20px 20px;
    background-size: 20px 20px;
    color: black;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
    border-radius: 15px;
    
}

.btn-container {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

.social {
    background-color: none;
    width: 36px;
}

.jumbotron {
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding: 5%;
    text-align: center;
}

.jumbotron img{
    margin: 0 auto;
    height: auto;
    width: 36px;
}

.justified{
    text-align: justify;
}

.cover-btn {
    opacity: .67;
    text-align: center;
    cursor: pointer;
}

.cover-btn:hover {
    opacity: 1;
}

.cover-btn img{
    height: 21px;
    width: 21px;
    margin-left: auto;
    margin-right: auto;
}

.cover-btn a {
    color: rgba(255, 255, 255, .67);
    text-decoration: none;
}

.cover-btn a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.cv {
    text-align: center;
}

.cv h1{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.cv h2 {
    font-size: 14px;
}

.cv p {
    color: rgba(255, 255, 255, .67);
    font-size: 12px;
}


.line {
    width: 1px;
    height: 40px;
    background-color: #FFFFFF;
    margin: auto;
}

.no-margin {
    margin: 0;
}

.social-media-container img {
    width: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: auto;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dot {
    display: inline-block;
    height: 8px;
    width: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
}

.skills {
    text-align: left;
}

.selected { background-color: rgba(255, 255, 255, 1); }

.not-selected { background-color: rgba(255, 255, 255, .33);}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    h1 { font-size: 36px; }
    
    h2 { font-size: 26px; }

    h3 {
        padding-left: 22px;
        font-size: 18px;
    }
    
    .title { padding-bottom: 18px; }

    .title h1 {
        margin-bottom: 18px;
    }

    .title img { width: 45px; }

    .jumbotron img { width: 42px; }
    
    .cv h1 { font-size: 18px; }

    .cv h2 { font-size: 18px; }
    
    .cv p { font-size: 14px; }
    
    .social-media-container img { width: 36px; }
    

}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 { font-size: 40px; }
    
    h2 { font-size: 29px; }

    h3 {
        padding-left: 24px;
        font-size: 20px;
    }
    
    .title { padding-bottom: 20px; }

    .title h1 {
        margin-bottom: 20px;
    }

    .title img { width: 50px; }

    .jumbotron img { width: 48px; }
    
    
    
    .cv h1 { font-size: 20px; }

    .cv h2 { font-size: 20px; }

    .cv p { font-size: 16px; }
    
    .social-media-container img { width: 40px; }
    
    
    .overlay {
        padding: 5%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    h1 { font-size: 44px; }
    
    h2 { font-size: 32px; }

    h3 {
        padding-left: 26px;
        font-size: 22px;
    }

    .title { padding-bottom: 22px; }

    .title h1 {
        margin-bottom: 22px;
    }

    .title img { width: 55px; }

    .jumbotron img { width: 54px; }
    
    .sticky-container { visibility: visible; left: 8.33%; }
    
    .cv h1 { font-size: 22px; }

    .cv h2 { font-size: 22px; }
    
    .social-media-container img { width: 44px; }
    
    .thumb {
	   width: 36px;
    }
}

/* Extra Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 { font-size: 48px; }
    
    h2 { font-size: 35px; }

    h3 {
        padding-left: 28px;
        font-size: 24px;
    }

    p { font-size: 16px; }
    
    .title { padding-bottom: 24px; }

    .title h1 {
        margin-bottom: 24px;
    }

    .title img { width: 60px; }

    .jumbotron img { width: 60px; }
    
    .cv h1 { font-size: 24px; }

    .cv h2 { font-size: 24px; }
    
    .social-media-container img { width: 48px; }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}